
 .u-section-1 {
  min-height: 641px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 144px auto 60px;
}





 .u-section-1 {
  background-image: url("images/11111111111111111111111111111111111111111111.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 701px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 0 0 581px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  background-image: none;
  margin: 163px 51px 60px auto;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 381px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
    margin-left: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
    margin-left: 181px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 336px;
  }
}.u-block-24f0-5 {
  position: absolute;
  inset: auto calc(50% - 78.5937px) 3.33333px auto;
}

.u-block-24f0-3 {
  position: absolute;
  left: 0;
  box-shadow: -2px 2px 8px 0px rgba(249,221,75,1);
}

.u-block-24f0-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  box-shadow: -2px 2px 8px 0px rgba(249,221,75,1);
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/actualizacion-alarmas-2.jpg');
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 833px;
}

.u-section-2-1 .u-text-1 {
  font-style: italic;
  font-size: 2.25rem;
  margin: 34px auto 60px 184px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 687px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 526px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 138px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 0.875rem;
    margin-left: 87px;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/alarma2.jpg');
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 871px;
}

.u-section-2-2 .u-text-1 {
  font-style: italic;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 48px 550px 0 209px;
}

.u-section-2-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  font-style: normal;
  margin: 0 70px 0 534px;
}

.u-section-2-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  animation-timing-function: ease-in;
  margin: 7px 274px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 450px;
    margin-left: 109px;
  }

  .u-section-2-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 0;
    margin-left: 404px;
  }

  .u-section-2-2 .u-btn-1 {
    margin-right: 187px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 339px;
    margin-left: 0;
  }

  .u-section-2-2 .u-text-2 {
    font-size: 1.25rem;
    margin-right: -63px;
    margin-left: 247px;
  }

  .u-section-2-2 .u-btn-1 {
    margin-right: 123px;
    padding: 1px 30px 2px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 159px;
  }

  .u-section-2-2 .u-text-2 {
    font-size: 1.125rem;
    margin-right: -112px;
    margin-left: 116px;
  }

  .u-section-2-2 .u-btn-1 {
    margin-right: auto;
    margin-left: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-2-2 .u-text-2 {
    font-size: 0.75rem;
    margin-right: -75px;
    margin-left: 75px;
  }

  .u-section-2-2 .u-btn-1 {
    font-size: 0.75rem;
    margin-left: 72px;
    padding: 3px 9px 4px;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/alarma1.jpg');
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 686px;
}

.u-section-2-3 .u-text-1 {
  font-style: italic;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 120px 268px 0 221px;
}

.u-section-2-3 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 131px 363px 0 315px;
}

.u-section-2-3 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -62px 302px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-2-3 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-right: 168px;
    margin-left: 45px;
  }

  .u-section-2-3 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 204px;
    margin-right: 263px;
    margin-left: 430px;
  }

  .u-section-2-3 .u-btn-1 {
    margin-top: 13px;
    margin-right: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-2-3 .u-text-1 {
    margin-right: 58px;
  }

  .u-section-2-3 .u-text-2 {
    margin-top: 57px;
    margin-right: 0;
    margin-left: 105px;
  }

  .u-section-2-3 .u-btn-1 {
    margin-right: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-2-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2-3 .u-text-2 {
    margin-top: 76px;
    margin-left: 30px;
  }

  .u-section-2-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-2-3 .u-text-1 {
    margin-left: 23px;
  }

  .u-section-2-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 147px;
    margin-left: 0;
  }
}

 .u-section-2-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/porteria.jpg');
  background-position: 50% 50%;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 706px;
}

.u-section-2-4 .u-text-1 {
  font-style: italic;
  font-size: 1.875rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 110px 276px 0 auto;
}

.u-section-2-4 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 10px 308px 0 396px;
}

.u-section-2-4 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 16px 467px 60px auto;
  padding: 16px 41px 16px 40px;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-2-4 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2-4 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 40px;
    margin-right: 175px;
    margin-left: 310px;
  }

  .u-section-2-4 .u-btn-1 {
    margin-top: 32px;
    margin-right: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-2-4 .u-text-1 {
    margin-right: 211px;
  }

  .u-section-2-4 .u-text-2 {
    margin-left: 237px;
  }

  .u-section-2-4 .u-btn-1 {
    margin-top: -16px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2-4 .u-text-1 {
    margin-right: 158px;
  }

  .u-section-2-4 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 178px;
  }

  .u-section-2-4 .u-btn-1 {
    margin-top: 142px;
    margin-right: 20px;
    padding: 17px 30px 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 1.125rem;
    width: 249px;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-2-4 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 8px;
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-2-4 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 21px;
    margin-right: 68px;
    margin-bottom: 59px;
    padding: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/bg4.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 746px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1160px;
  margin: 64px -20px -17px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 164px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  margin: 0 -384px 0 423px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 475px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 475px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 21px 201px 0 38px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 60px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 747px;
    margin-top: -36px;
    margin-right: auto;
    margin-bottom: 38px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 143px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 23px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 77px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 27px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 367px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -7px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 428px;
    margin: 0 -44px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 116px;
    margin-right: -104px;
    margin-left: 116px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 43px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 606px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: 338px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }
}