 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1312px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  width: 879px;
  margin: 74px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.875rem;
  background-image: none;
  margin: 20px 30px 0 59px;
}

.u-section-1 .u-list-1 {
  margin: 59px 0 23px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 905px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
  height: 250px;
  margin: 25px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 38px 9px 0;
}

.u-section-1 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  height: 250px;
  margin: 25px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 38px 9px 0;
}

.u-section-1 .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
  height: 250px;
  margin: 25px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 38px 9px 0;
}

.u-section-1 .u-list-item-4 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-4 {
  height: 250px;
  object-position: 50% 0%;
  margin: 25px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 38px 9px 0;
}

.u-section-1 .u-list-item-5 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-5 {
  height: 250px;
  margin: 25px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 38px 9px 0;
}

.u-section-1 .u-list-item-6 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-6 {
  height: 250px;
  margin: 25px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 38px 9px 0;
}

.u-section-1 .u-list-item-7 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-7 {
  height: 250px;
  margin: 25px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 38px 9px 0;
}

.u-section-1 .u-list-item-8 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-8 {
  height: 250px;
  margin: 25px 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 38px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 69px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 741px;
  }

  .u-section-1 .u-image-1 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-7 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-8 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2725px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-right: -23px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 41px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 93px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1750px;
  }

  .u-section-1 .u-image-1 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-2 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-3 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-4 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-5 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-6 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-7 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-8 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.625rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6460px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-1 {
    height: 474px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-2 {
    height: 474px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-3 {
    height: 474px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-4 {
    height: 474px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-5 {
    height: 474px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-6 {
    height: 474px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-7 {
    height: 474px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-8 {
    height: 474px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5139px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-5 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-6 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-7 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-8 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.875rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.u-block-2d18-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-2d18-24:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2d18-24:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-2d18-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-2d18-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-2d18-25:not([data-block-selected]):not([data-cell-selected]),
.u-block-2d18-25:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2d18-25:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-2d18-25:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-2d18-25:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-2d18-50:not([data-block-selected]):not([data-cell-selected]),
.u-block-2d18-50:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2d18-50:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-2d18-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-2d18-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-2d18-35:not([data-block-selected]):not([data-cell-selected]),
.u-block-2d18-35:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2d18-35:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-2d18-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-2d18-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-2d18-34:not([data-block-selected]):not([data-cell-selected]),
.u-block-2d18-34:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2d18-34:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-2d18-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-2d18-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-2d18-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-2d18-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2d18-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-2d18-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-2d18-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-image-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-image-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-image-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-image-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-image-2:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #292b33 !important;
}

.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #292b33 !important;
}

.u-section-1 .u-image-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-image-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-image-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-image-3:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-image-3:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-2d18-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-2d18-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2d18-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2d18-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-2d18-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-container-layout-6:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-container-layout-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-container-layout-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-container-layout-6:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-container-layout-6:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-2d18-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-2d18-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2d18-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2d18-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-2d18-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-image-6:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-image-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-image-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-image-6:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-image-6:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-image-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-image-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-image-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-image-5:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-image-5:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
} .u-section-2 {
  min-height: 974px;
}

.u-section-2 .u-shape-1 {
  height: 631px;
  background-image: none;
  margin: 0;
}

.u-section-2 .u-image-1 {
  width: 996px;
  height: 664px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -519px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 427px;
  width: 625px;
  height: auto;
  margin: -253px auto 0 calc(((100% - 1140px) / 2)  + -29px);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px 0;
}

.u-section-2 .u-text-1 {
  margin: 44px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: -140px calc(((100% - 1140px) / 2)  + 108px) 0 auto;
  padding: 16px 104px 17px 103px;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px calc(((100% - 1140px) / 2)  + 61px) 47px calc(((100% - 1140px) / 2)  + 839px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 937px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 627px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-top: -216px;
    margin-left: calc(((100% - 940px) / 2) + -29px);
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 52px;
    padding-left: 51px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 700px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1024px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 480px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-top: -69px;
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -41px;
    margin-right: calc(((100% - 720px) / 2)  + 17px);
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 7px 50px 17px 530px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 879px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 360px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: -40px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -130px;
    margin-right: calc(((100% - 540px) / 2)  + 23px);
  }

  .u-section-2 .u-text-3 {
    margin: 17px calc(((100% - 540px) / 2)) 42px calc(((100% - 540px) / 2)  + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 947px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 93px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 18px;
    margin-right: calc(((100% - 340px) / 2)  + 31px);
  }

  .u-section-2 .u-text-3 {
    margin: 3px 81px 17px 119px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('../images/vbvbvb-min.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 554px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 24px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 141px 131px 0 195px;
}

.u-section-3 .u-form-1 {
  background-image: none;
  height: 112px;
  width: 878px;
  margin: 159px 131px 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-text-1 {
    width: 814px;
    margin-top: 173px;
    margin-right: 31px;
    margin-left: 95px;
  }

  .u-section-3 .u-form-1 {
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
    width: 720px;
  }

  .u-section-3 .u-form-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 113px;
  }

  .u-section-3 .u-form-1 {
    height: 238px;
    margin-top: 166px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 161px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 100px;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}